image: fabernovel/android:api-35-ndk-v1.9.0

cache:
  key: ${CI_PROJECT_ID}
  paths:
    - .gradle/

stages:
  - build
  - release

assembleRelease:
  stage: build
  rules:
      - if: '$CI_COMMIT_TAG =~ /^v[0-9][0-9\.]*$/i && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
        when: always
      - when: manual

  script:
    - apt update --yes
    - apt install -y curl
    - curl https://dl.google.com/go/go1.23.5.linux-amd64.tar.gz | tar xz -C /usr/local
    - ln -s /usr/local/go/bin/go /usr/sbin/go
    - go version
    - go install golang.org/x/mobile/cmd/gomobile@latest
    - export PATH=~/go/bin:$PATH

    - mkdir app/libs
    - cd age-encryption
    - ~/go/bin/gomobile init
    - ~/go/bin/gomobile bind -androidapi 21 -o ../app/libs/encrypted_writer.aar tnibler.com/cryptocam-age-encryption
    - cd ..
    - ./gradlew assembleRelease
    - mv app/build/outputs/apk/release/app-release-unsigned.apk cryptocam-$CI_COMMIT_TAG.apk
  artifacts:
    paths:
      - cryptocam-$CI_COMMIT_TAG.apk

release:
  stage: release
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9][0-9\.]*$/i && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: always
    - when: never
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs:
    - job: assembleRelease
      artifacts: true

  script:
    - |
      release-cli create --name "Release $CI_COMMIT_TAG" --tag-name $CI_COMMIT_TAG \
        --assets-link "{\"name\":\"APK Download (Unsigned)\",\"url\":\"https://gitlab.com/cryptocam/cryptocam/-/jobs/$CI_JOB_ID/artifacts/raw/cryptocam-$CI_COMMIT_TAG.apk?inline=false\"}" \
