stages:
    - build_binary
    - build_appimage
    - release

build_linux_amd64:
    stage: build_binary
    image: ubuntu:hirsute
    rules:
        - if: '$CI_COMMIT_TAG =~ /^v[0-9][0-9\.]*$/i && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
          when: always
        - when: manual
    before_script:
        - apt-get update
        - DEBIAN_FRONTEND=noninteractive apt-get -y install cargo rustc ffmpeg libavformat-dev libavcodec-dev libswscale-dev libavutil-dev qt5-qmake g++ qtbase5-dev qtdeclarative5-dev qtquickcontrols2-5-dev
        - ls -l /usr/include/

    script:
        - cd $CI_PROJECT_DIR
        - FFMPEG_INCLUDE_DIR=/usr/include/x86_64-linux-gnu FFMPEG_LIB_DIR=/usr/lib/x86_64-linux-gnu cargo build --release -j8
        - cp target/release/cryptocam-qt .
        - echo "LINUX_BINARY_LINK=https://gitlab.com/cryptocam/cryptocam-companion/-/jobs/$CI_JOB_ID/artifacts/raw/cryptocam-qt?inline=false" >> build.env
    artifacts:
        reports:
            dotenv: build.env
        paths:
            - 'cryptocam-qt'
        expire_in: 30 days

build_appimage_amd64:
    stage: build_appimage
    needs: [ 'build_linux_amd64' ]
    rules:
        - if: '$CI_COMMIT_TAG =~ /^v[0-9][0-9\.]*$/i && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
          when: always
        - when: manual
    image: appimagecrafters/appimage-builder:latest
    before_script:
        - apt-get update -y
        - apt-get install -y software-properties-common

    script:
        - cd $CI_PROJECT_DIR
        - appimage-builder --skip-tests
        - export APPIMAGE_NAME=$(find *.AppImage)
        - echo "APPIMAGE_LINK=https://gitlab.com/cryptocam/cryptocam-companion/-/jobs/$CI_JOB_ID/artifacts/raw/$APPIMAGE_NAME?inline=false" >> build.env
    artifacts:
        reports:
            dotenv: build.env
        paths:
            - '*.AppImage'
        expire_in: 30 days

build_windows_amd64:
    stage: build_binary
    image: docker:latest
    services:
        - docker:dind
    script:
        - docker info
        - DOCKER_BUILDKIT=1 docker build -f WindowsCrosscompile.Dockerfile . -o .
        - echo "WINDOWS_BINARY_LINK=https://gitlab.com/cryptocam/cryptocam-companion/-/jobs/$CI_JOB_ID/artifacts/raw/CryptocamCompanion.zip?inline=false" >> build.env
    artifacts:
        paths:
            - "CryptocamCompanion.zip"
        reports:
            dotenv: build.env
        expire_in: 30 days

release:
    stage: release
    rules:
        - if: '$CI_COMMIT_TAG =~ /^v[0-9][0-9\.]*$/i && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
          when: always
        - when: never
    image: registry.gitlab.com/gitlab-org/release-cli:latest

    needs:
        - job: build_appimage_amd64
          artifacts: true
        - job: build_linux_amd64
          artifacts: true
    script:
        - |
          release-cli create --name "Release $CI_COMMIT_TAG" --tag-name $CI_COMMIT_TAG \
            --assets-link "{\"name\":\"Linux x86_64\",\"url\":\"$LINUX_BINARY_LINK\"}" \
            --assets-link "{\"name\":\"Linux x86_64 AppImage\",\"url\":\"$APPIMAGE_LINK\"}" \
            --assets-link "{\"name\":\"Windows x86_64\",\"url\":\"$WINDOWS_BINARY_LINK\"}"


